<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="page.puzzak.ptk.glass">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".LiveCardService"
            android:icon="@mipmap/ic_fg"
            android:label="@string/title_activity_live_card_service">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/launch_trigger" />
        </service>

        <activity
            android:name=".LiveCardMenuActivity"
            android:exported="true"
            android:theme="@style/MenuTheme" />
    </application>

</manifest>